@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

.background {
  background-image: url("images/header\ background\ shape-desktop-desktop.svg");
}

.my-logo {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #02094e;
  text-decoration: none;
}

.navbar {
  padding-left: 10%;
  padding-right: 10%;
}

.my-5 {
  padding-left: 17%;
  padding-right: 17%;
  padding-top: 5%;
}

.projects {
  padding-left: 0%;
  padding-right: 0%;
  /* border: #000 solid; */
}

.project-image {
  margin-right: 0px;
  /* border: #000 solid; */
}

.project-text {
  /* border: #000 solid; */
}

.row-projects {
  padding: 0px;
  margin: 0px;
}

.form {
  padding-left: 17%;
  padding-right: 17%;
  padding-top: 10%;
  background-image: url(images/Contact-desktop.png);
}
